

body {
   background: #FDF6E3;
}
/*----------------------------------------------------------------*/
/*            2026.6.8 AM         玩法●模块 开始                  */
/*----------------------------------------------------------------*/
.tlle {
   background: #F4E8D1;     /*背景颜色*/
   color: #5C4B3A;          /*字体颜色*/
   display: flex;           /*使用Flex布局*/
   flex-direction: column;  /*Flex布局向下排 row是左右排*/
   gap: 0px;                /*间隔{数字}px*/
   border-radius: 5px;      /*圆角*/
   width: 50vw;             /*宽*/
   margin-top: 0px;         /*距离 高*/
   margin-left: 0vw;        /*距离 左*/
   box-shadow: 0px 2px 4px rgba(0,0,0,0.1);/*盒子阴影*/
}
/*----------------------------------------------------------------*/
.a {
   text-align: center;
   color: #8FBC8F;
}
.u {
   margin-left: 4vw;
}
.w {
   margin-left: 3vw;
}
.o {
   margin-left: 3vw;
}

.b, .c, .r, .q5, .w5, .e5, .t5, .r4 {
   transition: all 0.3s;
}

.b:hover, .c:hover, .r:hover, .b:active, 
.c:active, .r:active, .q5:active, .q5:hover, 
.w5:active, .w5:hover, .e5:active, .e5:hover,
.t5:active, .t5:hover, .r4:active, .r4:hover {
   transform: scale(1.05);
   background: #D8C4A0;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/*----------------------------------------------------------------*/
/*    2026.6.9 AM           玩法●模块 结束                        */
/*----------------------------------------------------------------*/
/*    2026.6.9 PM         服务器背景●模块 开始                    */
/*----------------------------------------------------------------*/
.qw {
   background: #F4E8D1;
   display: flex;
   flex-direction: column;
   gap: 0px;
   margin-left: 18vw;
   margin-top: 10px;
   width: 80vw;
   height: 80px;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.q {
   color: #8FBC8F;
}
.qm {
   text-align: center;
}

.e{
   margin-left: 10px;
}
.rw {
   margin-left: 1px;
}
/*----------------------------------------------------------------*/
/*                                                                */
/*----------------------------------------------------------------*/
.q1 {
   display: flex;
   background: #F4E8D1;
   margin-top: 5vw;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.q2, .q3 {
   flex: 1;
}
.q2 img {
   width: 100%;;
   display: block;
   border-radius: 5px;
}
.q3 {
margin-left: 2vw;
text-align: center;
}
.q4 {
   color: #8FBC8F;
}
/*----------------------------------------------------------------*/
.w1 {
   display: flex;
   background: #F4E8D1;
   margin-top: 5vw;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.w2, .w4 {
   flex: 1;
}
.w4 img {
   width: 100%;
   display: block;
   border-radius: 5px;
}
.w2 {
   margin-left: 2vw;
   text-align: center;
}
.w3 {
   color: #8FBC8F;
}
.w5 {
   margin-right: 5px;
}
/*----------------------------------------------------------------*/
.e1 {
   display: flex;
   background: #F4E8D1;
   margin-top: 5vw;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.e2, .e3 {
   flex: 1;
}
.e2 img {
   width: 100%;
   display: block;
   border-radius: 5px;
}
.e3 {
   margin-left: 2vw;
   text-align: center;
}
.e4 {
   color: #8FBC8F;
}
/*-----------------------------------------------------------------*/
.r1 {
   display: flex;
   background: #F4E8D1;
   margin-top: 5vw;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.r2, .r5 {
   flex: 1;
}
.r5 img {
   width: 100%;
   display: block;
   border-radius: 5px;
}
.r2 {
   margin-left: 2vw;
   text-align: center;
}
.r3 {
   color: #8FBC8F;
}
.r4 {
   margin-right: 2vw;
}
/*-----------------------------------------------------------------*/
.t1 {
   display: flex;
   background: #F4E8D1;
   margin-top: 5vw;
   border-radius: 5px;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
.t2, .t4 {
   flex: 1;
}
.t2 img {
   width: 100%;
   display: block;
   border-radius: 5px;
}
.t4 {
   margin-left: 2vw;
   text-align: center;
}
.t3 {
   color: #8FBC8F;
}
.t5 {
   margin-left: 1vw;
}
/*-----------------------------------------------------------------*/